logs
project/project
project/target
target
tmp
junit
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
scripts/heroku-deploy.sh
rest-client/poc-play-rest-backend-requests-prod.json
